@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.photo-card-image {
    position: relative;

    &__photo {
        width: 100%;
        display: block;
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
    }

    &__photographer {
        position: absolute;
        bottom: 0;
        right: 0;
        background-color: $secondary-medium;
        border-top-left-radius: 0.5rem;
        border-bottom: 0.5px solid $secondary-dark;
        padding: 0.5rem;
        @include small-body-copy;
    }
}
