@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.standalone-photo-card {
    @include photo-card;

    &__tags {
        display: flex;
        flex-wrap: wrap;
        padding: 1rem 0.5rem;
        gap: 0.8rem;

        @include tablet {
            gap: 1.5rem;
            padding-left: 1rem;
           
        }
    }

    &__details {
        padding: 1rem;
        padding-top: 0.5rem;
        display: flex;
        gap: 2.5rem;
        flex-wrap: wrap;
        @include body-copy;
    }

    &__detail {
        display: flex;
        align-items: center;
        gap: 0.25rem;
        

        &--last {
            order: 1;
            width: 100%;

            @include tablet {
                width: unset;
                order: unset;
            }
        }
    }
}

.tag--not-clickable{
    color: black;
    padding: 6px 8px;
    @include tablet{
        padding: 8px 1rem;
    }
}