$primary-dark: #0c1e1a;
$primary-medium: #1e6655;
$primary-light: #effaf7;
$secondary-dark: #b7cec9;
$secondary-medium: #e4efec;
$secondary-light: #fff;

$desktop: 1280px;
$tablet: 768px;

$newsreader: "Newsreader";
$outfit: "Outfit";

$serif-font-stack: $newsreader, "Times New Roman", "Times", serif;
$sans-serif-font-stack: $outfit, Arial, Helvetica, "sans-serif";

$mobile-side-gutter: 1rem;
