@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

@use '../../styles/partials/breakpoints' as *;

.header {
    order: 0;
    margin: 1.5rem 0;
    padding: 0 $mobile-side-gutter;
    height: 2.5rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    &__link {
        color: $primary-dark;
        text-decoration: none;
    }

    &__text {
        @include wordmark;

    }
}