@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/breakpoints' as *;

.photo-card {
    background-color: $secondary-light;
    border-radius: 0.5rem;
    width: 100%;
    border: 1px solid $secondary-dark;

    @include tablet {
        width: 48%;
    }

    @include desktop {
        width: 32%;
        flex-grow: 1;
    }

    &__photo {
        position: relative;
    }

    &__image {
        width: 100%;
        display: block;
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
    }

    &__photographer {
        position: absolute;
        bottom: 0;
        right: 0;
        background-color: $secondary-medium;
        border-top-left-radius: .5rem;
        border-bottom: 0.5px solid $secondary-dark;
        padding: 0.5rem;
        @include small-body-copy;
    }

    &__tags {
        display: flex;
    }

    &__tag {
        margin: 0.5rem 0.25rem;
    }
}