@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/breakpoints' as *;

.photo-card {
    @include photo-card;
    text-decoration: none;

    @include tablet {
        width: 48%;
    }

    @include desktop {
        width: 32%;
        max-width: 31vw;
        flex-grow: 1;
    }

    &__tags {
        display: flex;
    }

    &__tag {
        margin: 0.5rem 0.25rem;
    }
}