@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/breakpoints" as *;

.filters {
    background-color: $secondary-medium;
    padding: $mobile-side-gutter;

    @include tablet {
        padding-bottom: 5rem;
    }

    @include desktop {
        padding: 3rem;
        min-width: 30rem;
        max-width: 30%;
    }

    &__header {
        margin-bottom: 1rem;
        @include heading;

        @include desktop {
            margin-bottom: 3rem;
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        gap: 0.5rem;
        flex: 1;

        @include desktop {
            gap: 0.75rem;
        }
    }

    &__tag {
        @include body-copy;

        @include tablet {
            font-size: 0.85rem;
        }
    }
}
